* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

#main {
    display: flex;
    width: 1450px;
    height: 800px;
}

#navigation {
    height: 100%;
    width: 180px;
    background-color: rgb(221, 221, 221);
}

.user {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 16px 0px;
    text-align: center;  
}

.nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 16px 0px;
    text-align: center;   
}

.header {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 16px 0px;
    text-align: center;   
}

.nav:hover {
    color: white;
    background-color: blue;
    user-select: none;
    cursor: pointer;
}

.section {
    /* display: block; */
    display: none;
    padding-top: 20px;
    padding-left: 20px;
}

.options {
    padding: 20px 0px;
}

.options > button {
    padding: 8px 20px;
    margin-right: 20px;
}

.options > button:hover {
    cursor: pointer;
}

table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

.th-0 {
    padding: 10px;
    text-align: center;
}

.th-0 > input:hover {
    cursor: pointer;
}

.th-1 {
    padding: 10px;
    width: 150px;
}

.th-2 {
    padding: 10px;
    width: 150px;
}

.th-3 {
    padding: 10px;
    width: 300px;
}

.th-4 {
    padding: 10px;
    width: 150px;
}

.th-5 {
    padding: 10px;
    width: 150px;
}

.th-6 {
    padding: 10px;
    width: 150px;
}

.th-1 > input, .th-2 > input, .th-3 > input,
.th-4 > input, .th-5 > input, .th-6 > input {
    border: none;
    width: 100%;
}

#filter-group-screen {
    /* display: flex; */
    display: none;
    padding-top: 20px;
    padding-left: 20px;
}

.input-sl {
    padding: 10px 0px;
    font-size: 18px;
}

.input-sl input {
    border: none;
    font-size: 18px;
    width: 200px;
}

#filter-group-screen .left {
    padding-right: 40px;
}

.left .input-keyword input {
    font-size: 18px;
    padding: 8px 10px;
    margin-right: 20px;
}

.left .input-keyword button {
    padding: 8px 18px;
}

.left .input-keyword button:hover {
    cursor: pointer;
}

#filter-group-screen .right {
    border-left: 1px solid black;
    width: 700px;
}

.right .title {
    text-align: center;
}

.right .container {
    overflow-y: scroll;
    padding: 10px;
    margin-top: 20px;
    margin-left: 30px;
    height: 70%;
    border: 1px solid black;
}

.right .container .gr {
    margin-top: 5px;
    display: flex;
    width: 100%;
    background-color: rgb(234, 234, 234);
}

.right .container .gr .left-gr {
    padding: 5px
}

.right .container .gr .right-gr {
    width: 600px;
    padding: 5px
}

.right .container .gr .delete button {
    width: 50px;
    height: 100%;
    color: red;
    cursor: pointer;
}

#auto-post-screen {
    /* display: flex; */
    display: none;
    padding-top: 20px;
    padding-left: 20px;
}

#auto-post-screen .combo-content {
    width: 400px;
}

#auto-post-screen .combo-content h2 {
    text-align: center;
}

#auto-post-screen .combo-content .content {
    margin-top: 20px;
    overflow-y: scroll;
    border: 1px solid black;
    width: 100%;
    padding: 5px;
    height: 300px;
    resize: none;
}

#auto-post-screen .combo-content .image {

}

#auto-post-screen .combo-choose {
    padding: 10px;
    margin-left: 20px;
    border-left: 1px solid black;
}

#auto-post-screen .list-group .gr .delete button {
    width: 50px;
    height: 100%;
    color: red;
    cursor: pointer;
}

#auto-post-screen .list-group .gr .r {
    width: 600px;
}

#auto-post-screen .combo-button button {
    padding: 8px 16px;
    margin-right: 10px;
}

#auto-post-screen .combo-button button:hover {
    cursor: pointer;
}

#auto-post-screen .combo-button input {
    padding: 8px 16px;
    border: none;
    width: 100px;
    font-size: 16px;
}

#auto-post-screen .list-group {
    overflow-y: scroll;
    width: 600px;
    padding: 5px;
    margin-top: 20px;
    border: 1px solid black;
    height: 500px;
}

#auto-post-screen .list-group .gr {
    margin-top: 5px;
    background-color: rgb(234, 234, 234);
    padding: 5px;
    display: flex;
    width: 100%;
}

#auto-post-screen .list-group .gr img {
    padding-right: 10px;
}



